@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --purple-color: #2563eb;
  --ui-color: #2563eb;
  --color-fd-primary: var(--ui-color);
}

body {
  overscroll-behavior-y: none;
  background-color: var(--color-fd-background);
}

.dark {
  --purple-color: #818cf8;
  --ui-color: #60a5fa;
  --color-fd-primary: var(--ui-color);
}
